doctype 1.1
html
	head
		title Lista PNU
		link(rel='stylesheet', href='jquery-ui.css')
		style.
			body {
				background-color: #737173;
				position:absolute;
				top: 0px;
				bottom: 0px;
				height: 95%;
				width: 95%;
				text-align: center;
			}
			div {
				margin: 2em;
			}
			table {
				margin:auto;
				width: 100%;
				height:100%;
			}
			
			iframe {
				height:100%;
				width:100%;
			}
	body
		script(src='jquery.min.js')
		script(src='jquery-ui.min.js')
		table
			tr
				td(style="width:30%;")
					div(id="proxy) Wizualizacja
					div(id="proxy_min") Wizualizacja MIN
					div(id="log") Log
					<div id="err") Raport b³êdów
					div(id="restart") Restart Node
					<div id="exit") Wy³¹czenie Node
					div(id="backup") Zapisanie zmian w TC (backup)
					div(id="reboot") Reboot systemu
					div(id="refresh") Odœwierz przegl¹darkê
					div(id="time") Odczyt czasu NTP
					div(id="zip") Pobranie danych arch
					div(id="update") Update z pliku
				td
					div(id="i_frame" style="height:100%;width:100%;")
		script.
			$(document).ready( function(){ 
				$('#log').button().click(function(){	$("#i_frame").attr('src', "/log"); });
				$('#err').button().click(function(){	$("#i_frame").attr('src', "/err"); });
				$('#restart').button().click(function(){	$("#i_frame").attr('src', "/restart"); });
				$('#exit').button().click(function(){	$("#i_frame").attr('src', "/exit"); });
				$('#reboot').button().click(function(){	$("#i_frame").attr('src', "/reboot"); });
				$('#refresh').button().click(function(){	$("#i_frame").attr('src', "/refresh"); });
				$('#backup').button().click(function(){	$("#i_frame").attr('src', "/backup"); });
				$('#time').button().click(function(){	$("#i_frame").attr('src', "/time"); });
				$('#zip').button().click(function(){	$("#i_frame").attr('src', "/zip"); });
				$('#update').button().click(function(){	$("#i_frame").attr('src', "/update"); });
				
				window.setInterval( function() {
					if (( $("#i_frame").attr('src') == "/log" ) 
					|| ( $("#i_frame").attr('src') == "/err" ) ) {
						document.getElementById("i_frame").contentDocument.location.reload(true);
					}
				},	5000);
				$("#i_frame").load(function(){this.contentWindow.scrollBy(0,100000)});
			});
